<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="styles.css">
</head>
<body>
      <main>
            <main>
                  <form method="post" action="/login">
                        <h1>Login</h1>
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email" placeholder="Email">
                        <button type="submit">Login</button>
                  </form>
            </main>
      </main>
</body>
</html>