<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="styles.css">
</head>
<body>
      <h1>hello world</h1>
      <p>this is the file inside views</p>
      <p> <%=name %></p>
      <p> <%=locals %></p>
      <p> Hi <%=locals.nambo %></p>
      <p> this is <%=locals.name %></p>
</body>
</html>